.badge-element{
    position: relative;   
}

.badge-icon {    
    background-color: var(--info-text);
    border-radius: 50rem;
    color: var(--white-color);
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.35em 0.5em;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: 70%;
    top: 0;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.badge-red{
    background-color: var(--fail-text);
}

.badge-green {
    background-color: var(--lightgreen-color);
}

.badge-green-avatar {
    background-color: var(--lightgreen-color);
}
.badge-red-avatar{
    background-color: var(--fail-text);
}
.badge-yellow-avatar {
    background-color: var(--yellow-color);
}
.badge-grey-avatar {
    background-color: var(--grey-color);
}
.badge_description {
    display: none;
}

.badge-green-avatar:hover + .badge_description,
.badge-red-avatar:hover + .badge_description,
.badge-yellow-avatar:hover + .badge_description,
.badge-grey-avatar:hover + .badge_description {
    display: block;
    background-color: var(--black-color);
    color: var(--white-color);
    position: absolute;
    left: 72%;
    top: 50%;
}



.badge-yellow {
    background-color: var(--yellow-color);
}

.badge-avatar {
    border-radius: 50%;
    display: inline-block;
    padding: 0.35em;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 0.5px;
    height: 0.5px;
    left: 72%;
    bottom: 0;
    white-space: nowrap;
}