.button-main{
    padding: 5px 10px;
    border-radius: 10px;    
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.primary-button {
    background-color: var(--primary-button-color);
    color: var(--white-color);
}

.secondary-button {
    border: var(--primary-button-color) 1px solid;
}

    .secondary-button:hover {
        background-color: var(--primary-button-hover);
        color: var(--white-color);
        cursor: pointer;
    }

.primary-button:hover {
    background-color: var(--primary-button-hover);
    color: var(--white-color);
    cursor: pointer;
}

.button-link {
    text-decoration: underline;
    font-size: 1.25rem;
    text-underline-position: under;
    color: var(--primary-button-hover);
    cursor: pointer;
}

    .button-link:hover {
        cursor: pointer;
        color: var(--button-link-hover);
    }

.float-button{
    margin-left: 1rem;
    background-color: var(--white-color);
    color: var(--info-text);
    border-radius: 50%;  
    border:none;
    padding: 0px;
}

    .float-button:hover {
        cursor: pointer;
        box-shadow: var(--box-shadow);
    }

.primary-button-disabled {
    background-color: var(--primary-button-disabled);
    border: none;
    font-weight: normal;
    color: var(--white-color);
}

.secondary-button-disabled {
    background-color: var(--secondary-button-disabled);
    border: none;
    font-weight: normal;
    color: var(--white-color);
}

.secondary-link-button {
    font-size: 1rem;
    border: 1px solid var(--black-color);
    box-shadow: var(--box-shadow);
    text-underline-position: under;
}

.secondary-link-button:hover{
    background-color: var(--lightgrey-color);
}