.container-wrapper {
    max-width: 60%;
    /*border: var(--border-color) 1px solid;*/
    box-shadow: var(--box-shadow);
}

.container-flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*flex-direction: row;     */
}

.container-flex-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-sb{
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.sidebar{
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 100%;
    /* width:max-content; */
    background-color:var(--lightgrey-color);
    margin: 1rem 2rem;    
    padding: 1rem 2rem;
}

.sidebar_component{
    font-size: 1.5rem;
    font-weight:bold;
    margin: 0.5rem 0.5rem;    
}

.button_main{
    background-color: var(--black-color);
    color:var(--white-color);
    border:none;
    outline: none;
    padding:1rem 1rem;
    margin: 2rem;
    box-shadow: rgb(218, 225, 224) 0px 0px 3px 3px;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}