.round-image {
    border-radius: 50%;
}

.image-base {
    width: 12rem;
    height: 12rem;
    margin: auto;
    box-shadow: var(--image-shadow);
    object-fit: cover;
    margin-left: 3rem;
    margin-top: 1rem;
}

.img-container{
    max-width: 500px;
    height: 300px;
    margin:auto;
}

.responsive-image {
    width: 100%;
    height: auto;
}