@import "./typography.css";
@import "./margin.css";
@import "./padding.css";
@import "./variables.css";
@import "./avatar.css";
@import "./alert.css";
@import "./container.css";
@import "./badge.css";
@import "./button.css";
@import "./card.css";
@import "./input.css";
@import "./images.css";
@import "./navigation.css";
@import "./ratings.css";


.header {
    max-width: 60%;
    background-color: var(--primary_color);
    box-shadow: var(--box-shadow);
}


.content-size{
    max-width: 60%;
}

.cursor-pointer{
    cursor:pointer;
}

.cursor-pointer:hover {
    cursor: pointer;
    color: black;    
}

*, *::after, *::before {
    box-sizing: border-box;        
}