.nav-bar {
    background-color: var(--black-color);
    color: var(--white-color);
}

.image-logo{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.item-search-area{
    width: 35rem;
    height: 3rem;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.item-search-button {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}

.brand_name {
    color: var(--golden-color);
    width: 3rem;
    height:max-content;
    font-size: 1.25rem;
    margin-right:5rem;
    padding:0;
    display:flex;
}

.nav-cursor-pointer:hover{
    cursor: pointer;
}

.primary-button {    
    background-color: var(--black-color);
    color: var(--white-color);
    border: var(--white-color) 1px solid;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.brand_name{
    color: var(--golden-color);
    font-weight: 600;
    margin-right: 0.5rem;
}

.search-textbox{
    width: 35rem;
    height: 2rem;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.overflow{
    overflow: hidden;
}

.badge-element{
    position: relative;   
    border: var(--black-color) 1px solid;
    border-radius: 20%; 
    padding: 0.5rem;
    margin:0rem 1rem;
}

.badge-red{
    background-color: var(--fail-text);
}

.badge-icon {
    border-radius: 50%;
    border: var(--white-color) 1px solid; 
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1px 5px;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: 100%; 
    top: -0.1em;   
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.icon{
    color: var(--grey-color);
}

.icon:hover{
    color:var(--white-color);
}