<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>Style-10-button</title>

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <header class="header m-auto py-0p5 pl-2 position_fixed">
        <div class="container-flex-row flex-sb">
            <a href="../index.html">
                <h2>Style-10</h2>
            </a>
            <div class="container-flex-row mr-3">
                <a href="../get_started/getStart.html" class="text-bold text-xs">Get Started</a>
                <a href="../Components/alert.html" class="text-bold text-xs ml-2">Docs</a>
                <a href="https://github.com/NandhiniKrishnamoorthy/component_Library" target="_blank"
                    class="text-s ml-2"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <a href="../Components/alert.html" class="sidebar_component">Alert</a>
        <a href="../Components/avatar.html" class="sidebar_component">Avatar</a>
        <a href="../Components/badge.html" class="sidebar_component">Badge</a>
        <a href="../Components/button.html" class="sidebar_component">Button</a>
        <a href="../Components/card.html" class="sidebar_component">Card</a>
        <a href="../Components/image.html" class="sidebar_component">Image</a>
        <a href="../Components/input.html" class="sidebar_component">Input</a>
        <a href="../Components/navigation.html" class="sidebar_component">Navigation</a>
        <a href="../Components/ratings.html" class="sidebar_component">Ratings</a>
        <a href="../Components/text_utilities.html" class="sidebar_component">Text_Utilities</a>
    </aside>
    <section class="container">
        <h2 class="m-auto content-size mt-2">Buttons</h2>
        <p class="m-auto mt-1 content-size text-xs">
            Buttons help us to create user interaction and event processing
        </p>
        <h4 class="m-auto my-1 content-size">Primary/ Secondary Buttons</h4>
        <div class="container-flex-row mb-1">
            <button class="primary-button button-main">Primary Button</button>
            <button class="secondary-button button-main">Secondary Button</button>
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2509%2509%253Cdiv%2520class%253D%2522container-flex-row%2520mb-1%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522primary-button%2520button-main%2522%253EPrimary%2520Button%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522secondary-button%2520button-main%2522%253ESecondary%2520%2509%2509%2509%2509%2509%2509%2509%2509%2509Button%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 161px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <h4 class="m-auto my-1 content-size">Disabled Buttons</h4>
        <div class="container-flex-row mb-1">
            <button class="primary-button-disabled button-main">Primary Button</button>
            <button class="secondary-button-disabled button-main">Secondary Button</button>
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2509%2509%253Cdiv%2520class%253D%2522container-flex-row%2520mb-1%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522primary-button-disabled%2520button-main%2522%253EPrimary%2520%2509%2509%2509%2509%2509%2509%2509Button%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522secondary-button-disabled%2520button-main%2522%253ESecondary%2520%2509%2509%2509%2509%2509%2509Button%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 178px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <h4 class="m-auto my-1 content-size">Link Buttons</h4>
        <div class="container-flex-row">
            <a href="#" class="button-link button-main">Link</a>
            <a href="#" class="secondary-link-button button-main">Link</a>
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2509%2509%2509%253Cdiv%2520class%253D%2522container-flex-row%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522button-link%2520button-main%2522%253ELink%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522secondary-link-button%2520button-main%2522%253ELink%253C%252Fa%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 143px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <h4 class="m-auto my-1 content-size">Icon/ Float Buttons</h4>
        <div class="container-flex-row">
            <button><i class="fas fa-shopping-cart fa-2x badge-element cursor-pointer"></i></button>
            <button class="float-button"><i class="fas fa-plus-circle fa-2x"></i></button>
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2509%2509%2509%253Cdiv%2520class%253D%2522container-flex-row%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%253E%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2520fa-m%2520badge-element%2520cursor-%2509%2509%2509%2509%2509%2509pointer%2522%253E%253C%252Fi%253E%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cbutton%2520class%253D%2522float-button%2522%253E%253Ci%2520class%253D%2522fas%2520fa-plus-circle%2520fa-2x%2522%253E%2509%2509%2509%2509%2509%253C%252Fi%253E%253C%252Fbutton%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 178px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

    </section>
</body>