<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <title>Style-10-image</title>

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <header class="header m-auto py-0p5 pl-2 position_fixed">
        <div class="container-flex-row flex-sb">
            <a href="../index.html">
                <h2>Style-10</h2>
            </a>
            <div class="container-flex-row mr-3">
                <a href="../get_started/getStart.html" class="text-bold text-xs">Get Started</a>
                <a href="../Components/alert.html" class="text-bold text-xs ml-2">Docs</a>
                <a href="https://github.com/NandhiniKrishnamoorthy/component_Library" target="_blank"
                    class="text-s ml-2"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </header>
    <aside class="sidebar">
        <a href="../Components/alert.html" class="sidebar_component">Alert</a>
        <a href="../Components/avatar.html" class="sidebar_component">Avatar</a>
        <a href="../Components/badge.html" class="sidebar_component">Badge</a>
        <a href="../Components/button.html" class="sidebar_component">Button</a>
        <a href="../Components/card.html" class="sidebar_component">Card</a>
        <a href="../Components/image.html" class="sidebar_component">Image</a>
        <a href="../Components/input.html" class="sidebar_component">Input</a>
        <a href="../Components/navigation.html" class="sidebar_component">Navigation</a>
        <a href="../Components/ratings.html" class="sidebar_component">Ratings</a>
        <a href="../Components/text_utilities.html" class="sidebar_component">Text_Utilities</a>
    </aside>
    <section class="container">
        <h2 class="m-auto content-size mt-2">Images</h2>
        <h4 class="m-auto mt-2 mb-1 content-size">Round Image</h4>
        <div class="flex text-center">
            <img src="../images/round_image.jpg" class="round-image image-base" alt="round-image" />
            <img src="../images/square_image.jpg" class="image-base" alt="square-image" />
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Cdiv%2520class%253D%2522container-flex-row%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252Fimages%252Fround_image.jpg%2522%2520class%253D%2522round-image%2520image-%2509%2509%2509%2509%2509%2509%2509base%2522%2520alt%253D%2522round-image%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252Fimages%252Fsquare_image.jpg%2522%2520class%253D%2522image-base%2522%2520%2509%2509%2509%2509%2509%2509%2509%2509alt%253D%2522square-image%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 178px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>

        <h4 class="m-auto mt-2 mb-1 content-size">Responsive Image</h4>
        <div class="container-flex-col img-container">
            <img src="../images/responsive_image.jpg" class="responsive-image" alt="responsive image" />
        </div>

        <div class="docs text-center mt-2 container-flex-row">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%2817%2C22%2C25%2C1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Cdiv%2520class%253D%2522container-flex-col%2520img-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252Fimages%252Fresponsive_image.jpg%2522%2520class%253D%2522responsive-image%2522%2520%2509%2509%2509%2509%2509%2509alt%253D%2522responsive%2520image%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 143px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </section>
</body>